<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'header.html' %}
  <title>Error 400 | DataBytes</title>
</head>

<body>
  {% include 'navigation.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Error 400</h2>
          <ol>
            <li><a href="index">Home</a></li>
            <li>Error 400</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="error">
      <h1>Error 400 Bad Request</h1>
      <h2>The requested you made couldn't be done.</h2>
    </section><!-- Error Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %} 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>