<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'header.html' %}
  <title>Error 404 | DataBytes</title>
</head>

<body>
  {% include 'navigation.html' %}
  {% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Error 403</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Error 403</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="error">
      <h1>Error 403</h1>
      <h2>Whoops! Forbidden Access</h2>
    </section><!-- Error Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %} 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'scripts.html' %}

</body>

</html>