<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>{{ object.JobName }} | DataBytes</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="../static/img/favicon.png" rel="icon">
    <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter:300,300i,400,400i,600,600i,700,700i|Roboto+Slab:300,300i,400,400i,500,600,700,700i"
      rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../static/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: Butterfly - v4.7.0
    * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

<body>
  {% include 'navigation.html' %}
  
  {% block job %}
  {% for i in job %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{i.JobName}}</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'careers' %}">Careers</a></li>
            <li>{{i.JobName}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-12">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                      {% with i as job %}
                            <img src="../static/img/work_0{{i.JobID}}.jpg" alt="{{i.JobName}}" width="100%" style="height:300px; object-fit: cover;">
                      {% endwith %}
                </div>

                <div class="swiper-slide">
                  <img src="https://www.techtarget.com/rms/onlineimages/code_g1019737194_searchsitetablet_520X173.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <!-- <div class="col-lg-2"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-info">
              

                <h2>Job information</h2>
                <ul>
                  <li><strong>Job</strong>: {{i.JobName}}</li>
                  <li><strong>Category</strong>: {{i.JobCategory}}</li>
                  <li><strong>Job URL</strong>: <a href="#"> {{i.JobURL}}</a></li>
                </ul>
              
            </div>
            <div class="portfolio-description">
              <h3> {{i.JobName}} Description</h3>
              <p  style="white-space: pre-line;">
                {{i.JobDescription}}
              </p>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
    {% endfor %}
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>