<footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Keep up to date with all of the latest DataBytes news</p>
            <form action="" method="post">
              <input type="email" name="email" placeholder="username@deakin.edu.au"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>DataBytes</h3>
            <p>
              Deakin University<br>
              <strong>Phone: </strong><a href="tel:+61 3 9244 6333">03 9244 6333</a><br>
              <strong>Email: </strong><a href="mailto:">databytes@deakin.edu.au</a><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="careers">Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="projects">Projects</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Policies</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Connect with us on social media!</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/deakin/" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/DeakinUniversity/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/deakinuniversity/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.youtube.com/deakinuniversity/" class="google-plus"><i class="bx bxl-youtube"></i></a>
              <a href="https://www.linkedin.com/school/deakin-university/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        <p><strong>DataBytes</strong> &copy; Copyright {% now 'Y' %}. All Rights Reserved</p>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/butterfly-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->