<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>{{ object.ProjectName }} | DataBytes</title>
    {% load static %}
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Inter:300,300i,400,400i,600,600i,700,700i|Roboto+Slab:300,300i,400,400i,500,600,700,700i"
      rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: Butterfly - v4.7.0
    * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>

<body>
  {% include 'navigation.html' %}
  
  {% block project %}
  {% for i in project %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{i.ProjectName}}</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li>{{i.ProjectName}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-12">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  {% if i.ProjectIsActive == True %}
                    {% with i as project %}
                      {% if i.ProjectImage is not None %}
                        {% with p as proj %}
                          <img src="{% static '' %}img/{{ i.ProjectImage }}" alt="{{i.ProjectName}}" width="100%" style="height:300px; object-fit: cover;">
                          {% endwith %}
                        
                        {% else %}
                          {% with p.parent as proj %}
                            <img src="{% static '' %}img/tech_0{{i.ProjectID}}.jpg'" alt="{{i.ProjectName}}" width="100%" style="height:300px; object-fit: cover;">
                          {% endwith %}
                        {% endif %}
                      {% endwith %}
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
          <!-- <div class="col-lg-2"></div> -->
          
          <div class="col-lg-8">
            <div class="portfolio-description">
              <h1> {{i.ProjectName}}</h1>
              <p>
                {{i.ProjectDescription}}
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="portfolio-info">
              
              {% if i.ProjectIsActive == True %}
                    {% with i as project %}
                <h4>Details</h4>
                <ul>
                  <li><strong>Title</strong>: {{i.ProjectName}}</li>
                  <li><strong>Project Lead</strong>: {{i.ProjectLeader}}</li>
                  <li><strong>Leader Email</strong>: {{i.LeaderEmail}}</li>
                  <li><strong>Start Date</strong>: {{i.ProjectStartDate}}</li>
                  {% if i.ProjectEndDate == '' %}
                    {% with i as project %}
                      <li><strong>End Date</strong>: {{i.ProjectEndDate}}</li>
                    {% endwith %}
                  {% endif %}
                </ul>
              
            </div>
          </div>
        </div>
          

        {% endwith %}
        
      {% endif %}
      </div>
    </section><!-- End Portfolio Details Section -->
    {% endfor %}
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'scripts.html' %}

</body>

</html>